*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todo{
    width: 100vw;
    height: 100vh;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


ul li.checked{
    color: #555;
    text-decoration: line-through;
}